/*
:root {
} */

p {
  letter-spacing: -0.01rem;
}

.md-typeset {
    font-size: 0.9rem;
}

.content-2-col {
  display: flex
}

.header-2-col {
  width: 33.33%;
  padding-right: 0.7rem;
  text-align: right;
  p, h2, h3, h4, h5:first-of-type {
    margin-top: 0rem;
  }
}
.body-2-col {
  width: 66.66%;
  padding-left: 0.7rem;
  p, h2, h3, h4, h5:first-of-type {
    margin-top: 0rem;
  }
}
